<div class="center hero-unit">
  <h1>Bem Vindo ao Aplicativo de Gestao de Agenda</h1>

  <h2>
    Aplicativo para auxiliar no controle dos servicos prestados por sua empresa.
  </h2>

  <%= link_to "Cadastre-se Agora", '#', class: "btn btn-large btn-primary" %>
</div>

