<% provide(:title, 'Lista de Servicos') %>
<h1>Lista de Servicos</h1>

<center><%= will_paginate%></center>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Descricao</th>
			<th>Tipo</th>
			<th>Deletar</th>
		</tr>
	</thead>
	<tbody>
		<%= render @servicos %>
	</tbody>
</table>

<center><%= will_paginate%></center>

<p> <%= link_to 'Novo Servico', new_servico_path %></p>
