<% provide(:title, 'Lista de Usuarios') %>
<h1>Lista de Usuarios</h1>

<center><%= will_paginate%></center>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>E-Mail</th>
			<th>Deletar</th>
		</tr>
	</thead>
	<tbody>
		<%= render @users %>
	</tbody>
</table>

<center><%= will_paginate%></center>

<p><%= link_to 'Novo Usuario', new_user_path %></p>
