<% provide(:title, 'Lista de Lojas') %>
<h1>Lista de Lojas</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Logradouro</th>
			<th>Deletar</th>
		</tr>
	</thead>
	<tbody>
		<%= render @empresa_lojas %>
	</tbody>
</table>

<p><%= link_to 'Nova Loja', new_empresa_loja_path %></p>