<% if @faixaFuncionarioServico.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			The form contains <%= pluralize(@faixaFuncionarioServico.errors.count, "error") %>.
		</div>
		<ul>
			<% @faixaFuncionarioServico.errors.full_messages.each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
  