<h1 class="page-header">

    Agenda

</h1>

<div class="table-responsive">

    <table class="table table-striped">
        <thead>
        	
            <tr>
            	<td><h4></h4></td>
            	<%@funcionario.each do |f|%>
            		<%if f.funcionario_servicos.count > 0%>
            			<td><h5><%= f.nome %></h5></td>
            		<%end%>
            	<%end%>	
            </tr>
        </thead>
        <tbody>
        	<% while @tempo <= "2000-01-01 22:00:00".to_time(:utc)%>
	        	<tr>
	        		<td><b><%=@tempo.to_formatted_s(:time)%></b></td>
	        		<%@funcionario.each do |f|%>
	        			<%if f.funcionario_servicos.count > 0%>
	        				<% agenda_funcionario(f.id,Date.today,@tempo)%>
		        			<%if @compromisso.count != 0%>
		        				<td><%= link_to @compromisso.first.funcionario_servico.servico.descricao, @compromisso.first%></td>
		        			<%else%>
		        				<%if @tempo.to_formatted_s(:time).to_d > Time.now.to_formatted_s(:time).to_d %>
		        					<td><%= link_to 'Vago', controller:"agendas",action:"new", funcionario_id: f.id, hr_inicio: @tempo, dt_agendada: Date.today %></td>
		        				<%else%>
		        					<td>Vago</td>
		        				<%end%>
		        			<%end%>
		        		<%end%>
	        		<%end%>
	        	</tr>
	        	<% @tempo = @tempo + 1800%>
        	<% end%>
    	</tbody>
    </table>

</div>