<% provide(:title, 'Lista de Funcionarios') %>
<h1>Lista de funcionarios</h1>


<center><%= will_paginate%></center>

<table class="table table-striped">
	<thead>
		<tr>
			<th>CPF</th>
			<th>Nome</th>
			<th>Usuario</th>
			<th>Ação</th>
		</tr>
	</thead>
	<tbody>
		
		<%= render @funcionarios %>
		
	</tbody>
</table>

<center><%= will_paginate%></center>

<p><%= link_to 'Novo Funcionario', new_funcionario_path %></p>
